@charset "UTF-8";

/*Layout*/

.backgroundnegro {
    background-color: black;
}
#featuresh {
    background-color: black;
    padding: 10px 0 10px 0;
}
#features2 {
    background-color: black;
    height: 450px;
     padding: 100px 100px 100px 100px;
}
      
#logo {
    background-color: black;
    padding: 10px 650px 10px 650px;
}

#carouselExampleAutoplaying {
    background-color: black;
}
#carouselExampleAutoplaying .carousel-inner {
    padding: 100px 50px 100px 50px;
}
#featuresindex1 {
    background-color: black;
    padding: 100px 250px 100px 250px;
    
}
#featuresred {
    background-color: gray; 
    padding: 50px;   
}
.icons {
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 70px;          
}
#info {
    background-color: black;
    padding: 100px;
       
}
#footer {
    background-color: gray;
    padding: 100px 0 100px 0;

}
#finaltext{
    background-color: black;
    padding: 100px;
}
#tribali {
    background-color: black;
    padding: 10px 650px 100px 700px;
}